@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
  .top-slider__item {
    height: 275px;
  }
  .top-slider__title {
    padding-top: 107px;
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
  .services {
    padding: 0px;
  }
  .services__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0px 15px 60px;
  }
  .services__head {
    max-width: 355px;
    margin-right: 97px;
    padding: 0;
  }
  .services__title {
    margin: 90px 0 70px;
    text-align: left;
  }
  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0;
    width: 928px;
  }
  .services__item {
    width: 25%;
    padding: 70px 20px;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding-top: 15px;
  }
  .services__item:hover .services__item-inner {
    padding: 25px 10px 20px;
  }
  .project {
    padding: 60px 0px 80px;
  }
  .project__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .project__item-img {
    max-width: 285px;
  }
  .project__item:nth-child(1), .project__item:nth-child(2), .project__item:nth-child(3) {
    margin-right: 10px;
  }
  .project__item:nth-child(2), .project__item:nth-child(3), .project__item:nth-child(4) {
    margin-left: 10px;
  }
  .project__item-img {
    margin: 0;
  }
  .team {
    padding: 50px 0 110px;
  }
  .team__inner {
    padding: 0 80px;
  }
  .team__images {
    min-width: 470px;
    height: 100%;
    margin-right: 93px;
  }
  .team__title {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 40px;
  }
  .news {
    padding: 50px 0 80px;
  }
  .news__title {
    margin-bottom: 90px;
  }
  .news__inner {
    padding: 0 80px;
  }
  .news__items {
    max-height: 900px;
  }
  .news__item-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 15px;
  }
  .news__item-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 15px;
  }
  .news__item-3 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin: 0 15px;
  }
  .news__item-4 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    margin-left: 15px;
  }
  .news__item-5 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 15px;
  }
  .news__item-6 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 0 15px;
  }
  .news__item-7 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 0 15px;
  }
  .news__item-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
    margin-left: 15px;
  }
  .news__item {
    margin-bottom: 30px;
  }
  .news__item-title {
    padding: 10px;
    margin: 20px 0px;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
  }
  /*SECTION QUOTES START*/
  .quotes {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .bottom-slider__quote {
    max-width: 890px;
  }
  .bottom-slider svg {
    margin-bottom: 30px;
  }
  .bottom-slider__citate {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 42px;
  }
  .bottom-slider__author {
    font-size: 24px;
    line-height: 28px;
  }
  /*SECTION QUOTES END*/
  /*SECTION FOOTER START*/
  .footer__inner {
    padding: 0 80px;
  }
  /*BUTTON TO TOP */
}
/*# sourceMappingURL=desktop-1440.css.map */