@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    padding: 87px 0 0;
    margin: 0 auto 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    padding: 25px 0 32px;
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
  .call {
    text-align: left;
  }
  .call__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
  .services {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services__head {
    padding: 0 40px;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr {
    text-align: left;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    margin-bottom: 27px;
    text-align: left;
  }
  .services__item {
    height: 338px;
  }
  .services__item:hover {
    margin: 0px;
    padding: 10px;
  }
  .services__item:hover .services__item-inner {
    min-height: 288px;
  }
  .project {
    padding: 60px 0px 80px;
  }
  .project__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project__item:nth-child(1), .project__item:nth-child(3) {
    margin-right: 15px;
  }
  .project__item:nth-child(2), .project__item:nth-child(4) {
    margin-left: 15px;
  }
  .project__item-img {
    min-height: 282px;
    width: 317px;
    padding: 12px 14px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
    font-size: 20px;
    line-height: 23px;
  }
  .team {
    padding: 4px 0 48px;
    text-align: left;
  }
  .team__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team__images {
    margin-bottom: 0px;
    width: 240px;
    height: 100%;
    margin-right: 34px;
  }
  .team__title {
    margin-bottom: 7px;
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 12px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .team__btn {
    font-size: 18px;
  }
  .news__title {
    margin-bottom: 50px;
  }
  /*SECTION QUOTES START*/
  .bottom-slider__quote {
    max-width: 687px;
  }
  .bottom-slider__citate {
    font-size: 32px;
    line-height: 34px;
  }
  /*SECTION QUOTES END*/
  /*SECTION FOOTER START*/
  .footer {
    padding-top: 115px;
    padding-bottom: 50px;
  }
  .footer__title {
    text-align: left;
    font-size: 36px;
    line-height: 32px;
  }
  .footer__info-inner .footer__location {
    padding-left: 0px;
  }
  .footer__info-inner .footer__menu {
    padding-left: 0px;
  }
  /*SECTION FOOTER END*/
  /*BUTTON TO TOP */
  .button__toTop {
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button__toTop-text {
    margin-right: 25px;
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=tablet-768.css.map */