@media (min-width: 1440px) {
  //HEADER
  .menu__btn {
    margin-right: 90px;
  }
  //HEADER END

  //SECTION HEAD START
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 865px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
      max-width: 886px;
    }
    .slick-arrow {
      width: 70px;
      height: 70px;
    }

    .slick-prev {
      top: calc(50% - 70px);
    }

    .slick-next {
      bottom: calc(50% - 70px);
    }
  }
  //SECTION HEAD END

  //SECTION CALL START
  .call {
    &__inner {
      padding: 0 80px;
    }
    &__box {
      max-width: 796px;
    }
  }

  //SECTION CALL END

  //SECTION SERVICES START
  .services {
    padding: 0px;
    &__inner {
      display: flex;
      justify-content: space-between;
      padding: 0px 0px 16px 60px;
      // margin-right: -50px;
      // margin: 0px -100px 0px -50px;
    }
    &__head {
      max-width: 355px;
      margin-right: 97px;
      padding: 0;
    }
    &__title {
      margin: 90px 0 70px;
      text-align: left;
    }
    &__descr {
      padding-bottom: 38px;
      margin-bottom: 35px;
    }
    &__items {
      margin: 0;
      width: 928px;
    }
    &__item {
      // max-width: 232px;
      width: 25%;
      padding: 70px 20px;
      height: 277px;
      &:nth-child(2),
      &:nth-child(6) {
        border-right: none;
      }
      &:hover {
        padding-top: 15px;
        .services__item-inner {
          padding: 20px 8px 20px 8px;
          min-height: 255px;
        }
      }
    }
  }
  //SECTION SERVICES END

  // SECTION PROJECT START
  .project {
    padding: 60px 0px 80px;
    &__items {
      flex-wrap: nowrap;
    }
    &__item-img {
      max-width: 285px;
    }
    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3) {
      margin-right: 10px;
    }
    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(4) {
      margin-left: 10px;
    }

    &__item-img {
      margin: 0;
    }
  }
  //SECTION PROJECT END

  //SECTION TEAM START
  .team {
    padding: 50px 0 110px;
    &__inner {
      padding: 0 80px;
    }
    &__images {
      min-width: 470px;
      height: 100%;
      margin-right: 93px;
    }
    &__title {
      margin-top: 10px;
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 40px;
    }
  }
  //SECTION TEAM END
  //SECTION NEWS START
  .news {
    padding: 50px 0 80px;
    &__title {
      margin-bottom: 90px;
    }
    &__inner {
      padding: 0 80px;
    }
    &__items {
      max-height: 900px;
    }
    &__item-1 {
      order: 1;
      margin-right: 15px;
    }
    &__item-2 {
      order: 3;
      margin: 0 15px;
    }
    &__item-3 {
      order: 5;
      margin: 0 15px;
    }
    &__item-4 {
      order: 7;
      margin-left: 15px;
    }
    &__item-5 {
      order: 2;
      margin-right: 15px;
    }
    &__item-6 {
      order: 4;
      margin: 0 15px;
    }
    &__item-7 {
      order: 6;
      margin: 0 15px;
    }
    &__item-8 {
      order: 8;
      margin-left: 15px;
    }
    &__item {
      margin-bottom: 30px;
    }
    &__item-title {
      padding: 10px;
      margin: 20px 0px;
      color: #fff;
      font-size: 18px;
      line-height: 21px;
    }
  }
  //SECTION NEWS END

  /*SECTION QUOTES START*/
  .quotes {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .bottom-slider {
    &__quote {
      max-width: 890px;
    }
    svg {
      margin-bottom: 30px;
    }
    &__citate {
      margin-bottom: 30px;
      font-size: 36px;
      line-height: 42px;
    }
    &__author {
      font-size: 24px;
      line-height: 28px;
    }
  }
  /*SECTION QUOTES END*/
  /*SECTION FOOTER START*/
  .footer {
    &__inner {
      padding: 0 80px;
    }
  }
}
