@media (min-width: 1024px) {
  //SECTION HEAD START
  .top-slider {
    &__item {
      min-height: 668px;
    }
    &__title {
      padding-top: 107px;
      font-size: 96px;
      line-height: 96px;
      letter-spacing: 2px;
      max-width: 750px;
    }
    &__text {
      font-size: 24px;
      line-height: 26px;
    }
  }
  //SECTION HEAD END

  //SECTION CALL START
  .call {
    &__box {
      max-width: 695px;
    }
  }
  //SECTION CALL END

  //SECTION SERVICES START
  .services {
    &__head {
      padding-left: 40px;
    }
    &__title {
      margin-bottom: 60px;
    }
    &__descr {
      padding-bottom: 46px;
      margin-bottom: 40px;
    }
    &__text {
      margin-bottom: 32px;
      max-width: 608px;
    }
    &__item {
      width: 25%;
      height: 255px;
      &:nth-child(2),
      &:nth-child(6) {
        border-right: none;
      }
      &:nth-child(n + 5) {
        border-bottom: 1px solid $bg-color;
      }
      &:hover {
        margin: 0px;
        .services__item-inner {
          padding: 25px 15px 20px;
          min-height: 255px;
          height: 100%;
        }
      }
    }
  }
  //SECTION SERVICES END

  // SECTION PROJECT START
  .project {
    padding: 60px 0px 80px;
    &__items {
      justify-content: center;
    }
    &__item-img {
      margin: 0 12px;
    }
  }
  //SECTION PROJECT END

  //SECTION TEAM START
  .team {
    padding: 80px 0;
    text-align: left;

    &__images {
      width: 395px;
      height: 100%;
      margin-right: 60px;
    }
    &__title {
      margin-top: 10px;
      margin-bottom: 19px;
    }
    &__text {
      line-height: 24px;
      margin-bottom: 20px;
    }
    &__btn {
      font-size: 18px;
    }
  }
  //SECTION TEAM END
  //SECTION NEWS START
  .news {
    padding: 65px 0 90px;
    &__title {
      margin-bottom: 90px;
    }
    &__items {
      max-height: 1100px;
    }
    &__item-1 {
      order: 1;
      margin-right: 15px;
    }
    &__item-2 {
      order: 4;
      margin: 0 15px;
    }
    &__item-3 {
      order: 7;
      margin-left: 15px;
    }
    &__item-4 {
      order: 2;
      margin-right: 15px;
    }
    &__item-5 {
      order: 5;
      margin: 0 15px;
    }
    &__item-6 {
      order: 8;
      margin-left: 15px;
    }
    &__item-7 {
      order: 3;
      margin-right: 15px;
    }
    &__item-8 {
      order: 6;
      margin: 0 15px;
    }

    &__item-title {
      padding: 10px;
      margin: 20px 0px;
      color: #fff;
      font-size: 18px;
      line-height: 21px;
    }
  }
  //SECTION NEWS END

  /*SECTION QUOTES START*/
  .quotes {
    padding-top: 100px;
    padding-bottom: 80px;
  }
  .bottom-slider {
    &__quote {
      max-width: 780px;
    }
    svg {
      margin-bottom: 40px;
    }
    &__citate {
      margin-bottom: 45px;
      line-height: 37px;
    }
    &__author {
      margin-bottom: 80px;
    }
  }
  /*SECTION QUOTES END*/

  /*SECTION FOOTER START*/
  .footer {
    padding-top: 160px;
    padding-bottom: 115px;
    &__title {
      margin-bottom: 80px;
      max-width: 760px;
    }

    &__social {
      margin-bottom: 80px;
    }
    &__info-inner {
      flex-wrap: nowrap;
    }
    &__location {
      padding-left: 0px;
    }
    &__menu {
      padding-left: 0px;
    }
  }
}
